---
import Layout from "../layouts/Layout.astro";
import homecoming from '../assets/homecoming.jpg';
import ssunday from '../assets/ssunday.png';
import easter from '../assets/resurrection-sun.jpg';
import school from '../assets/backtoschool.png';
import fd from '../assets/IMG_4905.jpg';
import fd1 from '../assets/Carey_Temple_5th_Sunday_Service_2025_RV.jpg';
import fd2 from '../assets/IMG_9216.jpg';
import fd3 from '../assets/Carey_Temple_Thanksgiving_Dinner_Flyer_2025_RV_01.jpg';
import fd4 from '../assets/IMG_8690.jpg';
import fd5 from '../assets/4th_District_Set_the_Captives_Free_Flyer_Oct_2025_RV.jpg';
import fd6 from '../assets/4th_District_Set_the_Captives_Free_Flyer_Nov_2025_RV.jpg';
---

<Layout>
    <h2>Past events</h2>
    <div>
        <img src={fd1.src} class="pb-2 mx-auto"/>
        <!-- <img src={fd2.src} class="pb-2"/> -->
        <img src={fd3.src} class="pb-2 mx-auto"/>
        <img src={fd4.src} class="pb-2 mx-auto"/>
        <img src={fd5.src} class="pb-2 mx-auto"/>
        <img src={fd6.src} class="pb-2 mx-auto"/>
        <img  src={school.src} alt="Back to school">
        <img  src={fd.src} alt="Father's Day">
        <img src={easter.src} class="pb-2"/>
        <img src={homecoming.src} class="pb-2"/>
        <img src={ssunday.src} class="pb-2"/>
    </div>


</Layout>