---
import Layout from "../layouts/Layout.astro";
import homecoming from '../assets/homecoming.jpg';
import ssunday from '../assets/ssunday.png';
import easter from '../assets/resurrection-sun.jpg';
import school from '../assets/backtoschool.png';
import fd from '../assets/IMG_4905.jpg';
---

<Layout>
    <h2>Past events</h2>
    <img  src={school.src} alt="Back to school">
    <img  src={fd.src} alt="Father's Day">
    <img src={easter.src} class="pb-2"/>
    <img src={homecoming.src} class="pb-2"/>
    <img src={ssunday.src} class="pb-2"/>

</Layout>